# Exclude build/config files from being copied to /var/www/html
Dockerfile
nginx.conf
php.ini
supervisord.conf
sites/
.dockerignore
docker-compose.template.yml
create-wp-config.sh
docker-entrypoint.sh
start-wordpress.sh
wp-security-hardening.php
.htaccess-uploads-security
